[data-theme="catppuccin-macchiato"] {
	--rosewater:	245, 224, 220; /* Primary accent (cursor or highlights) */
	--flamingo:		242, 205, 205; /* Secondary accent (alerts or highlights) */
	--pink:			245, 194, 231; /* Vivid accent (used for emphasis) */
	--mauve:		203, 166, 247; /* Syntax highlighting or active elements */
	--red:			243, 139, 168; /* Error or critical alert (bright tone) */
	--maroon:		235, 160, 172; /* Error or danger (muted tone) */
	--peach:		250, 179, 135; /* Warning (highlight important elements) */
	--yellow:		249, 226, 175; /* Caution or notification */
	--green:		166, 227, 161; /* Success or confirmation */
	--teal:			148, 226, 213; /* Info or moderate success (cyan-green tone) */
	--sky:			137, 220, 235; /* General information (light cyan) */
	--sapphire:		116, 199, 236; /* Accent for links or buttons (deep blue) */
	--blue:			137, 180, 250; /* Primary actions or links (bright blue) */
	--lavender:		180, 190, 254; /* Soft accent or comments (light lavender) */

	--text:			202, 211, 245; /* Main text (on dark background) */
	--subtext1:		184, 192, 224; /* Secondary text (subtitles, captions) */
	--subtext0:		165, 173, 203; /* Tertiary text (labels, minor info) */

	--overlay2:		147, 154, 183; /* Light overlay (for elevated surfaces) */
	--overlay1:		128, 135, 162; /* Medium overlay */
	--overlay0:		110, 115, 141; /* Dark overlay */

	--surface2:		91, 96, 120;   /* Light UI surface (foreground elements) */
	--surface1:		73, 77, 100;   /* Mid UI surface */
	--surface0:		54, 58, 79;    /* Dark UI surface */

	--base:			36, 39, 58;    /* Main background */
	--mantle:		30, 32, 48;    /* Secondary background (containers) */
	--crust:		24, 25, 38;    /* Tertiary background (deep layers) */
}

[data-theme="catppuccin-latte"] {
	--rosewater:	220, 138, 120;
	--flamingo:		221, 120, 120;
	--pink:			234, 118, 203;
	--mauve:		136, 57, 239;
	--red:			210, 15, 57;
	--maroon:		230, 69, 83;
	--peach:		254, 100, 11;
	--yellow:		223, 142, 29;
	--green:		64, 160, 43;
	--teal:			23, 146, 153;
	--sky:			4, 165, 229;
	--sapphire:		32, 159, 181;
	--blue:			30, 102, 245;
	--lavender:		114, 135, 253;

	--text:			76, 79, 105;
	--subtext1:		92, 95, 119;
	--subtext0:		108, 111, 133;

	--overlay2:		124, 127, 147;
	--overlay1:		140, 143, 161;
	--overlay0:		156, 160, 176;

	--surface2:		172, 176, 190;
	--surface1:		188, 192, 204;
	--surface0:		204, 208, 218;

	--base:			239, 241, 245;
	--mantle:		230, 233, 239;
	--crust:		220, 224, 232;
}


[data-theme="catppuccin-mocha"] {
	--rosewater:	245, 224, 220;
	--flamingo:		242, 205, 205;
	--pink:			245, 194, 231;
	--mauve:		203, 166, 247;
	--red:			243, 139, 168;
	--maroon:		235, 160, 172;
	--peach:		250, 179, 135;
	--yellow:		249, 226, 175;
	--green:		166, 227, 161;
	--teal:			148, 226, 213;
	--sky:			137, 220, 235;
	--sapphire:		116, 199, 236;
	--blue:			137, 180, 250;
	--lavender:		180, 190, 254;

	--text:			205, 214, 244;
	--subtext1:		186, 194, 222;
	--subtext0:		166, 173, 200;

	--overlay2:		147, 153, 178;
	--overlay1:		127, 132, 156;
	--overlay0:		108, 112, 134;

	--surface2:		88, 91, 112;
	--surface1:		69, 71, 90;
	--surface0:		49, 50, 68;

	--base:			30, 30, 46;
	--mantle:		24, 24, 37;
	--crust:		17, 17, 27;
}

  
[data-theme="catppuccin-frappe"] {
	--rosewater:	242, 213, 207;
	--flamingo:		238, 190, 190;
	--pink:			244, 184, 228;
	--mauve:		202, 158, 230;
	--red:			231, 130, 132;
	--maroon:		234, 153, 156;
	--peach:		239, 159, 118;
	--yellow:		229, 200, 144;
	--green:		166, 209, 137;
	--teal:			129, 200, 190;
	--sky:			153, 209, 219;
	--sapphire:		133, 193, 220;
	--blue:			140, 170, 238;
	--lavender:		186, 187, 241;

	--text:			198, 208, 245;
	--subtext1:		181, 191, 226;
	--subtext0:		165, 173, 206;

	--overlay2:		148, 156, 187;
	--overlay1:		131, 139, 167;
	--overlay0:		115, 121, 148;

	--surface2:		98, 104, 128;
	--surface1:		81, 87, 109;
	--surface0:		65, 69, 89;

	--base:			48, 52, 70;
	--mantle:		41, 44, 60;
	--crust:		35, 38, 52;
}

:root {
	--bg-transition: 0.5s;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*======================================
              Global CSS
========================================*/
body {
	background-color: rgb(var(--base));
	color: rgb(var(--text));

	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	transition: background-color var(--bg-transition) ease;
	overflow-x: hidden;
}
/* Non-visible elements only visible to screen readers and url for dynamic loading */
.sr-only, #currentUrl {
	position: absolute;

	padding: 0;
	margin: -1px;
	border: none;

	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
	
	overflow: hidden;
}
/* Links */
a {
	color: rgb(var(--blue));
	text-decoration: none;

	transition: color 0.2s ease, text-decoration 0.2s ease;
}
a:hover {
	color: rgb(var(--sapphire));
	text-decoration: underline;
}
a:visited {
	color: rgb(var(--lavender));
}
a:focus {
	outline: 2px solid rgb(var(--blue));
	outline-offset: 2px;
}
/* Info messages */
.error-msg, .success-msg {
	position: absolute;
	top: 9vh;
	left: 1rem;

	font-style: italic;
	font-size: larger;
}
.error-msg {
	color: rgb(var(--red));
}
.success-msg {
	color: rgb(var(--green));
}
/* no selection*/
.no-select {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.no-drag {
	pointer-events: none;
}

/*======================================
			Navigation bar
========================================*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	padding: 1rem;
	
	width: 100%;
	height: 7dvh;

	background-color: rgb(var(--crust));
	color: rgb(var(--text));

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	transition: background-color var(--bg-transition) ease;
}
/* Main structure*/
#user-menu {
	width: 20%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
#search-container {
	width: 59.5%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#nav-links {
	margin-right: 1rem;

	width: 20.5%;

	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content: flex-end;
}
.user-btn {
	padding: 10px;

	margin-right: 1rem;
	border-radius: 5px;

	background-color: rgb(var(--base));
	border: 3px solid rgb(var(--surface0));
	
	cursor: pointer;

	flex-shrink: 0;

	transition: background-color 0.2s;
}
.user-btn:hover {
	text-decoration: none;
	background-color: rgb(var(--mantle));
}
/* Theme switcher */
#theme-switcher {
	position: absolute;
	right: 17.5rem;

	height: 3em;
	max-width: 2.5rem;

	margin-right: 1rem;

	padding: 0 0.5rem;
	gap: 0.5rem;

	display: flex;
	align-items: center;

	overflow-x: hidden;
	overflow-y: visible;
	transition: max-width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#theme-switcher:hover {
	max-width: 12rem;
}
.theme-btn {
	position: relative;

	width: 2.5rem;
	height: 2.5rem;

	border: 2px solid rgb(var(--surface0));
	border-radius: 50%;

	opacity: 0;
	background: repeating-linear-gradient(
	  135deg,
	  var(--c1) 0% 38%,
	  var(--c2) 38% 67%,
	  var(--c3) 67% 100%);

	flex-shrink: 0;

	transform: translateX(-10px) scale(0.8);
	transition:
		opacity 0.4s ease,
		transform 0.4s ease;

	cursor: pointer;
}
.theme-btn.active {
	position: absolute;
	top: 0.25rem;
	left: 0.5rem;
	opacity: 1 !important;
	transform: translateX(0) scale(1) !important;
	border-color: rgb(var(--blue));
	z-index: 1;
}
#theme-switcher:hover .theme-btn.active {
	position: relative;
	top: auto;
	left: auto;
	z-index: auto;
  }
.theme-btn:hover {
	transform: scale(1.15) !important;
	transition-duration: 0.2s;
}
#theme-switcher:hover .theme-btn {
	opacity: 1;
	transform: translateX(0) scale(1);
}
/* Search bar */
#search-bar-container {
	display: flex;
	flex-direction: row;
}
#search-bar {
	width: 15vw;
	height: 3em;
	
	border: 1px solid rgb(var(--surface0));
	border-radius: 5px;
	font-size: 1rem;
	
	color: rgb(var(--text));
	background-color: rgb(var(--base));
	
	transition: width 0.3s ease;
}
#search-bar:focus {
	width: 30vw;
	
	outline: none;
}
#search-icon {
	margin-left: -3em;
	margin-top: 0.25em;
	
	width: 2.5em;
	height: 2.5em;
	
	color: rgb(var(--surface2));
}
#search-icon:hover {
	cursor: pointer;
}
/* Search bar dropdown */
#dropdown-content-search {
	position: absolute;
	top: 8vh;
	z-index: 10;
	
	height: auto;
	max-height: 50vh;
	
	border: 2px solid rgb(var(--surface0));
	border-radius: 5px;
	
	background-color: rgb(var(--mantle));
	
	visibility: hidden;
	
	display: flex;
	flex-direction: column;
	
	overflow: hidden;
	
	transform-origin: center;
	transform: scaleX(0);
	transition:
		transform 0.3s ease,
		visibility 0.3s ease;
}
#dropdown-content-search.show {
	width: 50vw;
	
	visibility: visible;
	
	transition-delay: 0s;
	transform: scaleX(1);
}
/* ───────── Advanced Search ───────── */
#advanced-search-label {
	margin-top: 0.5rem;
	margin-left: 1rem;
	
	font-size: 1.2rem;
}
#advanced-search-label:hover {
	cursor: pointer;
}
#advanced-search-label input {
	width: 1.2rem;
	height: 1.2rem;
	
	margin-left: 0.2rem;
	
	cursor: pointer;
}
#dropdown-advanced-search {
	max-height: 0;
	
	padding: 1rem;
	
	opacity: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	transition:
		opacity 0.3s ease,
		max-height 0.3s ease;
}
#dropdown-advanced-search.show {
	max-height: 10vh;
	
	opacity: 1;
	
}
#dropdown-advanced-search div {
	width: calc(50% - 0.5em);
	
	display: flex;
	flex-direction: column;
}
#dropdown-advanced-search input {
	height: 2.5rem;
	
	margin-bottom: 0.5rem;
	
	border: 1px solid rgb(var(--surface0));
	border-radius: 5px;
	
	color: rgb(var(--text));
	background-color: rgb(var(--base));
}
#dropdown-advanced-search input:focus {
	outline: none;
}
#search-time {
	height: 2.5rem;
	width: 100% !important;
	
	display: flex;
	flex-direction: row !important;
	justify-content: left;
	align-items: center;
}
#search-time input {
	width: 5rem;
	height: 1.75em;
	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/* ───────── Search Results ───────── */
#search-results {
	max-height: 30vh;
	
	border-top: rgb(var(--surface1)) 3px solid;
	
	color: rgb(var(--subtext0));
	background-color: rgb(var(--crust));
	
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
#search-results p {
	margin-left: 1rem;
}
.result-row {
	border-bottom: 1px solid rgb(var(--surface0));
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	
	cursor: pointer;
}
.result-row:hover {
	background-color: rgb(var(--surface1));
}
.result-row > * {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.result-cover {
	width: 2.5rem;
	height: 2.5rem;

	margin-right: 1rem;
	border-radius: 5px;
}
.result-title {
	flex-basis: 65%;
}
.result-artist {
	flex-basis: 30%;
}
.result-duration {
	flex-basis: 15%; 
}
/*=======================================
			Song info pop-up
========================================*/
#Song-info {
	position: fixed;
	top: 30vh;
	left: 25%;
	z-index: 1000;

	width: 50vw;
	height: fit-content;
	max-height: 50vh;

	padding: 1rem;

	color: rgb(var(--subtext0));
	background-color: rgba(var(--crust), 0.95);

	border: 3px solid rgb(var(--surface1));
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}
#Song-info-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#Song-info-cover {
	width: 15vw;
	height: 15vw;

	border: 3px solid rgb(var(--surface0));
	border-radius: 5px;
}
#Song-info-cover:hover {
	cursor: pointer;
}
#Song-info-main {
	width: 100%;

	margin-left: 1rem;

	text-align: left;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Song-info-text {
	max-height: 2.3rem;

	font-size: 2rem;
	font-weight: bold;
	white-space: nowrap;

	display: inline-flex;
	align-items: center;

	overflow: visible;

	cursor: pointer !important;
}
.scroll-wrapper {
	overflow: hidden;
}
.scroll-left-info {
	position: relative;
	display: inline-block;

	width: fit-content;
	animation: scroll-left-info 6.5s linear infinite;
}
@keyframes scroll-left-info {
	0% {transform: translateX(0%);}
	42% {transform: translateX(calc(-100% + 27vw));}
	50% {transform: translateX(calc(-100% + 27vw));}
	92% {transform: translateX(0%);}
}
#copy-content {
	margin-top: 0.5rem;

	max-height: 2rem;

	color: rgb(var(--subtext2));

	display: flex;
	flex-direction: row;
	align-items: center;
}
#copy-info {
	width: fit-content;
	height: 2rem;

	padding-left: 1rem;
	
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
	
	transition: background-color 0.2s ease;
	cursor: pointer;
}
#copy-info:hover {
	background-color: rgb(var(--surface1));
}
#song-info-copy {
	width: 2.5em;
	height: 2.5em;
	
	color: rgb(var(--subtext2));
}
#song-link-container {
	margin-left: 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;
}
#song-link {
	margin-right: 1em;
}
#song-link-container button {
	width: 5em;
	height: 2.2em;

	border-radius: 5px;
	
	color: rgb(var(--subtext0));
	background-color: rgb(var(--base));
	border: 3px solid rgb(var(--surface0));
	
	cursor: pointer;

	flex-shrink: 0;

	transition: background-color 0.2s;
}
#song-link-container button:hover {
	text-decoration: none;
	background-color: rgb(var(--mantle));
}
/*========================================
				Footer
=========================================*/
#footer-container {
	height: 6rem !important;
	width: 99vw;
	margin-top: 1rem;
	margin-bottom: 5rem !important;
	margin-left: -0.5rem;
	padding: 1rem;
	background-color: rgb(var(--mantle));
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#footer-content {
	margin-left: -2rem;
	width: 90vw;
	display: flex;
	background-color: rgb(var(--mantle));
	border-bottom: solid 2px rgb(var(--surface0));
	padding-left: 0.5rem;
	flex-direction: row;
	justify-content: space-between;
}
#footer-commit {
	margin-right: 0.5rem !important;
}
/*========================================
			Bottom Audio player
=========================================*/
#player-container {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;

	padding: 1rem;

	width: 100%;
	height: 5.7rem;

	background-color: rgb(var(--crust));
	color: rgb(var(--text));
	
	display: flex;
	align-items: center;

	transition: background-color var(--bg-transition) ease;
}
/*Info section*/
#player-song-info {
	width: 20%;

	display: flex;
	flex-direction: row;
	align-items: center;
}
#player-cover {
	width: 5rem;
	height: 5rem;
}
#player-song-info-text {
	max-height: 5rem;
	max-width: 75%;

	margin-left: 0.5rem;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.player-song-info-text {
	display: inline-block;
	white-space: nowrap;
}
.scroll-left {
	width: fit-content;
	animation: scroll-left 6.5s linear infinite;
}
#player-cover {
	border: 3px solid rgb(var(--surface2));
	border-radius: 5px;
}
#player-song-title {
	width: fit-content;

	color: rgb(var(--text));
	font-size: 1.35rem;
	font-weight: bold;
}
#player-song-artist {
	color: rgb(var(--text));
	width: fit-content;
	transform: translateZ(0);
}
#player-song-album {
	width: fit-content;

	font-size: 1.25em;
	color: rgb(var(--subtext1));
}
/*Controls + progression bar*/
#player-center {
	width: 60%;
	height: 100%;

	padding: 0 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}
#player-center-up {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.player-time {
	width: 100%;
	height: 2rem;

	font-family: 'Inter', sans-serif;
	font-feature-settings: "tnum";
	font-size: 1.6rem;

	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: -2rem;
}
#player-time-total {
	text-align: right;
}
#controls-container {
	display: flex;
	color: rgb(var(--overlay1));
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.player-controls {
	height: 2.7rem;
	max-width: 3.5rem;
	margin-left: 1.5rem;
	border-radius: 3px;
	overflow: visible;
}
.player-controls:hover {
	color: rgb(var(--overlay2));
	cursor: pointer;
	transition: color 0.3s ease;
}
#randomSvg {
	width: 4rem;
	height: 2.7rem;
	border-radius: 50%;
	transform: scale(1.4);
	margin-top: 0rem !important;
}
#repeatSvg {
	z-index: 0;
	width: 3.5rem;
	height: 3rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;
	transform: scale(1.4);
}
#repeatSvg:hover {
	color: rgb(var(--overlay2));
	cursor: pointer;
	transition: color 0.3s ease;
}
#randomSvg path, #repeatSvg path {
	transition: stroke 1s ease;
}
/* Progression bar */
.player-slider {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 0.7rem;
	border-radius: 5px;
	background: linear-gradient(
		to right,
		rgb(var(--lavender)) 0%,
		rgb(var(--lavender)) var(--value),
		rgb(var(--surface2)) var(--value),
		rgb(var(--surface2)) 100%
	);
	outline: none;
	--value: 0%;
}
/* Chrome / Safari */
.player-slider::-webkit-slider-runnable-track {
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(to right,
		rgb(var(--lavender)) 0%,
		rgb(var(--lavender)) var(--value),
		rgb(var(--surface2)) var(--value),
		rgb(var(--surface2)) 100%);
}
.player-slider::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgb(var(--overlay0));
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	margin-top: -3px;
	position: relative;
	z-index: 2;
}
/* Firefox */
.player-slider::-moz-range-track {
	height: 100%;
	border-radius: 5px;
}
.player-slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid rgb(var(--overlay0));
	background: rgb(var(--overlay0));
	cursor: pointer;
	position: relative;
	z-index: 2;
}
#player-progress-bar-container {
	width: 100%;
}
#player-progress-bar {
	width: 100%;
}
#player-extra {
	height: fit-content;
	width: 15%;
	margin-bottom: -3rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#volume-svg {
	color: rgb(var(--overlay1));
	height: 3.5rem !important;
	width: 3.5rem !important;
}
#volume-container {
	height: 3.5rem;
	margin-left: -0.5rem;
	width: 3em;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: width 0.3s ease;
}
#player-extra:hover #volume-container {
	width: 50%;
}
#player-volume-bar
{
	margin-left: 1.2em;
	width: 100%;
}
/*========================================
				Forms
========================================*/
#login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10vh auto;
	padding: 2rem;
	width: 320px;
	background-color: rgb(var(--mantle));
	border: 3px solid rgb(var(--surface0));
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#login-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 1em;
}
.input-field {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.input-field label {
	font-size: 1rem;
	color: rgb(var(--subtext0));
	margin-bottom: 0.3em;
}
.input-field input {
	font-size: 1rem;
	caret-color: rgb(var(--blue));
	background-color: rgb(var(--base));
	color: rgb(var(--text));
	border: 2px solid rgb(var(--surface0));
	border-radius: 5px;
	padding: 0.7em;
	width: 92%;
	outline: none;
	transition: border 0.2s ease-in-out;
}
input:-webkit-autofill {
	background-color: rgb(var(--base));
	-webkit-text-fill-color: rgb(var(--text));
	-webkit-box-shadow: 0 0 0 30px rgb(var(--base)) inset;
}
input:autofill {
	background-color: rgb(var(--base));
	color: rgb(var(--text));
}

.input-field input:focus {
	border-color: rgb(var(--blue));
}
#login-btn {
	margin-top: 1em;
	padding: 0.7em;
	font-size: 1rem;
	font-weight: bold;
	background-color: rgb(var(--lavender));
	color: rgb(var(--surface1));
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}
#login-btn:hover {
	background-color: rgb(var(--blue));
}
#login-form a {
	color: #a0b2ff;
	text-decoration: none;
	font-size: 0.9rem;
}
#login-form a:hover {
	text-decoration: underline;
}
/*Css for consent banner*/
#consent-banner {
	position: fixed;
	z-index: 1000;
	top: 15%;
	left: 25%;
	right: 0;
	
	width: 50%;
	max-height: 60%;
	padding: 2rem;

	color: rgb(var(--subtext1));
	border-radius: 8px;
	border: 3px solid rgb(var(--surface0));
	background-color: rgb(var(--mantle));

	text-align: left;
	font-size: 14px;
	overflow-y: auto;
}
#consent-banner h3 {
	margin-top: 0;
}
#consent-banner table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}
#consent-banner thead th {
	background-color: rgb(var(--surface1));
}
#consent-banner th, #consent-banner td {
	border: 1px solid rgb(var(--surface0));
	padding: 8px;
	text-align: left;
}
#consent-banner .section a {
	color: #4CAF50;
	text-decoration: none;
}
#consent-banner button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
























#content {
	margin-top: 10vh;
	min-height: 60vh;
}



/*========================================
			Profile page
========================================*/
.header {
	margin-top: 10.5vh;

	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}
#profilInfoText {
	margin-left: 1rem;
	width: 35%;
	padding: 1rem;
	overflow-x: hidden;
	border: 3px solid rgb(var(--surface1));
	border-radius: 5px;
	background-color: rgb(var(--surface0));
}
.profile-info p {
	font-size: 16px;
}
.profile-info span, .total-listened span {
	font-weight: bold;
}
.profile-duration {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
#profile-duration  {
	font-size: 16px;
	width: max-content;
}
.total-duration {
	font-size: 16px;
	font-weight: bold;
	width: fit-content;
}
#duration-value {
	font-size: 16px;
	font-weight: normal;
}
.total-duration:hover {
	cursor: pointer;
}
.listening-history {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height:min-content;
}






/*CSS for the activity container*/
#heatmap-div {
	width: 100%;
	overflow: hidden;
}
#heatmap {

	transform-origin: top left;
	border-collapse: collapse;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	font-size: small;
	table-layout: fixed;
	background-color: rgb(var(--mantle));
	border: 20px solid rgb(var(--mantle));
	padding: 1rem;
}
#heatmap thead th {
	transform: translateX(20px);
	width: 21px !important;
	box-sizing: border-box;
	overflow: visible;
	white-space: nowrap;
}
#heatmap thead th:not(:has(span))
{
	transform: translateY(-20px);
	height: 1px !important;
}
#heatmap td:first-child {
	font-weight: bold;
	width: 38px !important;
	margin-top: 4px;
	margin-left: 4px;
	overflow: visible;
}
#heatmap td:last-child {
	margin-right: 2px;
}
#heatmap td {
	display: inline-block;
	width: 20px !important;
	height: 20px !important;
	margin-left: 1px;
	margin-top: 1px;
	padding: 0;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	overflow: hidden;
	box-sizing: border-box;
	border: none;
}
#heatmap tr {
	height: 21px !important;
	width: fit-content;
	display: flex;
	border: none;
	background-color: rgb(var(--mantle));
}

#heatmap th {
	background-color: rgb(var(--mantle));
	border: none
}
#heatmap-type {
	margin-top: 20px;
	margin-left: 2%;
	width: 1163px;
	display: flex;
	flex-direction: row;
}
#heatmap-scale {
	position: absolute;
	right: 15%;
	display: flex;
	width: fit-content;
	height: 25px;
	margin-top: 6px;
	font-size: 1.2em;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.heatmap-scale-div {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 0;
	border-radius: 2px;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
}
.activity-heatmap-button {
	background-color: rgb(var(--base));
	color: rgb(var(--subtext2));
	border: 3px solid rgb(var(--surface0));
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	margin-right: 1em;
}
.heatmap-song-active {
	background-color: #39d353;
	color: #363a4f;
}
.heatmap-duration-active
{
	background-color: #1f6feb;
	color: #b3b3b3;
}
.heatmap-ratio-active
{
	background-color: #7C80FC;
	color: #363a4f;
}






#hourlyChartContainer {
	width: 70%;
}

#searchShareLink:hover {
	cursor: pointer;
}

/*========================================
			Song tab
========================================*/
.song-tab {
	border-collapse: separate;
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
	border-spacing: 0 10px;
}
.tab-cover {
	vertical-align: middle;
	margin-left: 0.2em;
	border-radius: 5px;
	width: 4em;
	height: 4em;
}
.song-tab td {
	text-align: left;
}
.song-tab th {
	visibility: hidden;
}
.song-tab tr {
	margin-top: 1em;
	font-size: larger;
	background-color: rgb(var(--crust));
	transition: background-color 0.2s ease;
}

.song-tab tr:hover {
	cursor: pointer;
	background-color: rgb(var(--surface0));
}


.song-tab-col1 {
	width: 4.5em;
	height: 4.5em;
}

.song-tab-col2 {
	height: 4.5em;
}

#load-more {
	margin-top: 20px;
	font-size: medium;
	margin-bottom: 20px;
	padding: 7px;
	background-color: rgb(var(--blue));
	color: rgb(var(--surface1));
	border: none;
	border-radius: 5px;
}
#load-more:hover {
	background-color: rgb(var(--lavender));
	cursor: pointer;
	transition: background-color 0.2s ease;
}

/*CSS for the song page*/
#song-page {
	margin: 10.5vh;
	padding: 20px;
	background-color: rgb(var(--mantle));
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	color: rgb(var(--text));
	width: 100%;
	max-width: 80vw;
}

#song-page-cover {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 15px;
}

#song-page-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
}

#song-page-artist, #song-page-album, #song-page-year, #song-page-publisher, #song-page-genre {
	font-size: 1rem;
	margin: 5px 0;
	color: rgb(var(--subtext2));
}

#song-page-listened-count {
	font-size: 1rem;
	color: rgb(var(--blue));
}

#song-page-tags-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 20px;
	color: rgb(var(--text));
}

#song-page-tags-table {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
}

#song-page-tags-table th, #song-page-tags-table td {
	padding: 12px;
	text-align: left;
	border: 1px solid rgb(var(--surface0));
}

#song-page-tags-table-th-name {
	width: 30%;
}

#song-page-tags-table-th-value {
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#song-page-tags-name, #song-page-tags-value {
	font-size: 1rem;
	color: rgb(var(--subtext2));
}

#song-page-tags-value {
	max-height: 5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-y: auto;
}

#song-page-tags-table td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	max-width: 70vw;
}

#song-page-tags-table tr:hover {
	background-color: rgb(var(--surface1));
	cursor: pointer;
}


/* Pour le consent banner */
#consent-banner th {
	background-color: #444;
}

#consent-banner button:hover {
	background-color: #45a049;
}






.addition-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5vh auto;
	padding: 1.5em;
	width: 30vw;
	overflow-x: hidden;
	max-width: 90%;
	background-color: rgb(var(--mantle));
	border: 2px solid rgb(var(--surface0));
	border-radius: 12px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	transition: width 0.3s ease;
}

.addition-container.expanded {
	width: 70vw;
}

.addition-info {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.addition-date {
	font-size: 1.2em;
	font-weight: bold;
	color: #ffcc00;
	margin-bottom: 0.5em;
}

.num-additions {
	font-size: 1em;
	margin-bottom: 0.5em;
	color: rgb(var(--subtext0));
}

.addition-comment {
	color: rgb(var(--subtext1));
	margin-bottom: 0.5em;
}

.addition-button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.song-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-height: 60vh;
	overflow-y: auto;
}

/*Stats page*/
.stats-container {
	text-align: left;
	background: rgb(var(--mantle));
	border: 2px solid rgb(var(--surface0));
	padding: 20px;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.stats-container p {
	font-size: 18px;
	margin: 10px 0;
}

#last-update, #last-update-time {
	font-size: 14px;
	font-style: italic;
	color: rgb(var(--subtext0));
}

#update-stats {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

/*========================================
			Settings page
========================================*/
.settings-theme-btn {
	position: relative;

	width: 2.5rem;
	height: 2.5rem;

	border: 2px solid rgb(var(--surface0));
	border-radius: 50%;

	background: repeating-linear-gradient(
	  135deg,
	  var(--c1) 0% 38%,
	  var(--c2) 38% 67%,
	  var(--c3) 67% 100%);

	cursor: pointer;
}
.settings-theme-btn.active {
	border-color: rgb(var(--blue));
}
#settings-theme-overrides {
	width: 25%;
	padding-left: 2rem;
	padding-bottom: 1rem;
	border: 3px solid rgb(var(--surface0));
	border-radius: 5px;
	background-color: rgb(var(--mantle));
	display: flex;
	flex-direction: column;
	align-items: center;

}
.color-override-wrapper {
	text-align: left;
	width: fit-content;
	margin-top: 0.5rem;
	margin-right: 3rem;
	display: grid;
	grid-template-columns: 2fr 1fr auto;
	align-items: center;
	column-gap: 1rem;
}
.color-override-wrapper input[type="color"] {
	width: 5rem;
	height: 2rem;
	padding: 0;
	border: 5px solid rgb(var(--surface0));
	border-radius: 5px;
	cursor: pointer;
}
