body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
	color: #b3b3b3;
}

/*Css for navigation bar*/
nav {
	position: fixed;
	width: 100%;
	height: 7vh;
	background-color: #181818;
	color: #b3b3b3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	z-index: 1000;
	left: 0;
	padding: 1em;
}

#content {
	margin-top: 7vh;
}

.user-btn {
	background-color: #181818;
	color: #b3b3b3;
	border: 3px solid #000;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	margin-right: 1em;
}

/*Css for the song info pop-up*/
#Song-info {
	position: fixed;
	z-index: 1000;
	top: 3vh;
	width: 55vw;
	height: 80vh;
	left: 22.5vw;
	border: #000 3px solid;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.93);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}

#Song-info-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Song-info-cover {
	width: 15vw;
	height: 15vw;
	margin-left: 1em;
	margin-top: 1em;
	border: #000 3px solid;
	border-radius: 5px;
}

#Song-info-main {
	text-align: left;
	overflow: hidden;
	margin: 1em;
	width: 40vw;
	max-height: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .Song-info-text {
	font-weight: bold;
	max-height: 2vw;
	height: fit-content;
	width: 100%;
	margin-top: 0.2em;
	font-size: 1.5vw;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.scroll-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.scroll-left-info {
	width: fit-content;
	display: inline-block;
	position: relative; 
	white-space: nowrap;
	animation: scroll-left-info 6.5s linear infinite;
}

@keyframes scroll-left-info {
	0% {
	  transform: translateX(0%);
	}
	42% {
	  transform: translateX(calc(-100% + 30.5vw));
	}
	50% {
	  transform: translateX(calc(-100% + 30.5vw));
	}
	92% {
	  transform: translateX(0%);
	}
}

#song-link-container {
	margin-top: 1em;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#song-link {
	margin-right: 1em;
}

/*CSS For the audio player*/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: #181818;
	color: #b3b3b3;
	display: flex;
	align-items: center;
	padding: 15px;
	z-index: 1000;
}

/*Info section*/
#player-song-info {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
}

#player-cover {
	width: 5em;
	height: 5em;
}

/*Contains animation for song name too long*/
#player-song-info-text {
	max-height: 5em;
	margin-left: 0.5em;
	max-width: 75%;
	display: flex;
	flex-direction: column;
	text-align: left;
	overflow: hidden;
}

.player-song-info-text {
	display: inline-block;
	white-space: nowrap;
}

.scroll-left {
	width: fit-content;
	animation: scroll-left 6.5s linear infinite;
}

#player-cover {
	border: #000 3px solid;
	border-radius: 5px;
}

#player-song-title {
	height: fit-content;
	font-size: 1.35em;
	font-weight: bold;
	color: #ffffff;
	width: fit-content;
}

#player-song-artist {
	height: fit-content;
	font-size: 1em;
	color: #b3b3b3;
	width: fit-content;
}

#player-song-album {
	height: fit-content;
	font-size: 1.25em;
	color: #fff;
	width: fit-content;
}

/*Controls + progression bar*/
#player-center {
	width: 60%;
	height: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#controls-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.player-controls {
	width: 2.7em;
	height: 2.7em;
	margin-left: 2.5em;
}

.player-slider {
	outline: none;
	-webkit-appearance: none;
	border-radius: 5px;
	height: 1vh;
	background-color: #000;
}  

#player-progress-bar-container {
	width: 92%;
}

#player-progress-bar {
	width: 100%;
}

#player-extra {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	width: 18%;
}

#player-current-time {
	font-size: 1.5em;
}

#volume-container {
	margin-left: 1em;
	width: 3em;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	transition: width 0.3s ease;

}

#volume-container:hover {
	width: 60%;
}

#volume-ico {
	width: 3em;
	height: 3em;
}

#player-volume-bar
{
	margin-left: 1.2em;
	width: 100%;
}



::-webkit-scrollbar {
	width: 1em;
}
::-webkit-scrollbar-track {
	background: #cad3f5;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #1e2030;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #363a4f; 
}


/*CSS for profile page*/
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	color: white;
	height: 8vh;
	margin-top: 10.5vh;
	text-align: center;
	vertical-align: middle;
}

.profile-info p {
	font-size: 16px;
}

.profile-info span {
	font-weight: bold;
}

.total-duration p {
	font-size: 16px;
	font-weight: bold;
}

.listening-history {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#load-more {
	margin-top: 20px;
	font-size: medium;
	background-color: #a0b2ff;
}

/*CSS for the activity container*/
#heatmap {
	width: 1163px;
	border-collapse: collapse;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	font-size: small;
	table-layout: fixed;
}

#heatmap thead th {
	transform: translateX(20px);
	width: 21px !important;
	box-sizing: border-box;
	overflow: visible;
	white-space: nowrap;
}

#heatmap thead th:not(:has(span))
{
	transform: translateY(-20px);
	height: 1px !important;
}

#heatmap td:first-child {
	font-weight: bold;
	width: 38px !important;
	margin-top: 4px;
	margin-left: 4px;
	overflow: visible;
}

#heatmap td:last-child {
	margin-right: 2px;
}

#heatmap td {
	display: inline-block;
	width: 20px !important;
	height: 20px !important;
	margin-left: 1px;
	margin-top: 1px;
	padding: 0;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	overflow: hidden;
	box-sizing: border-box;
	border: none;
}


#heatmap tr {
	height: 21px !important;
	width: fit-content;
	display: flex;
	border: none;
	background-color: #121212;
}

#heatmap th {
	background-color: #121212;
	border: none
}

#heatmap-type {
	margin-top: 20px;
	margin-left: 2%;
	width: 1163px;
	display: flex;
	flex-direction: row;
}

#heatmap-scale {
	position: absolute;
	right: 15%;
	display: flex;
	width: fit-content;
	height: 25px;
	margin-top: 6px;
	font-size: 1.2em;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.heatmap-scale-div {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 0;
	border-radius: 2px;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
}

.activity-heatmap-button {
	background-color: #b3b3b3;
	color: #121212;
	border: 3px solid #000;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	margin-right: 1em;
}

.heatmap-song-active {
	background-color: #39d353;
	color: #363a4f;
}

.heatmap-duration-active
{
	background-color: #1f6feb;
	color: #b3b3b3;
}

/* Table Styles */
table {
	border-collapse: collapse;
	width: 96%;
	margin-top: 20px;
	margin-left: 2%;
	border: 3px solid black;
	border-radius: 5px;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #363a4f;
}

tr:hover {
	background-color: lightsteelblue;
	cursor: pointer;
}

tr {
	border-bottom: 1px solid #ddd;
}

/*Links*/

a {
	color: #8a94f0;
	text-decoration: none;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
	color: #a0b2ff;
	text-shadow: 0 0 10px rgba(160, 178, 255, 0.8);
	text-decoration: underline;
}

a:active {
	color: #6872c9;
}

a:visited {
	color: #bcc0e9;
}
