<!DOCTYPE html>
<html lang="en" data-theme="catppuccin-macchiato">
	<head>
		<!-- Meta charset and viewport for mobile responsiveness -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Link to main stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<!-- Dynamic title with default fallback -->
		<title>{{ title if title else 'OSTJourney - Game Soundtracks, Remixes & More' }}</title>
		<!-- Favicon link -->
		<link rel="icon" type="image/x-icon" href="{{ icon if icon else url_for('static', filename='images/favicon-512x512.webp') }}">
		<!-- Open Graph meta tags -->
		<meta property="og:image" content="{{ icon if icon else url_for('static', filename='images/favicon-512x512.webp') }}" />
		<meta property="og:site_name" content="OSTJourney" />
		<meta property="og:title" content="{{ title if title else 'OSTJourney - Game Soundtracks, Remixes & More' }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ url_for('static', filename='') }}" />
		<meta property="og:description" content="{{ description if description else 'Listen to your favorite OST, remix and more on OSTJourney.' }}" />
		<meta name="description" content="{{ description if description else 'Explore thousands of video game soundtracks and remixes. Stream your favorite OSTs from Nintendo, indie games and more — all in one place.' }}">
		<meta name="keywords" content="OST, music, game, remix, soundtrack, listen, journey, ostjourney, nintendo, ost" />
		{% if request.cookies.get('data_consent') == 'true' and umami_script_url and umami_website_id %}
			<script defer src="{{ umami_script_url }}" data-website-id="{{ umami_website_id }}"></script>
		{% endif %}
	</head>	
	<body>
		{%if error %}
			<div class="error-msg">
				{{ error }}
			</div>
		{% endif %}
		<div id="nav-container">
		</div>
		<div style="height: max-content;">
			<div id="content">
				{% if content %}
					{{ content | safe }}
				{% else %}
					{% block content %}
					{% endblock %}
				{% endif %}
			</div>
				<div id="footer-container">
			</div>
		</div>
		<div id="Song-info" style="display: none;" data-nosnippet>
			<div id="Song-info-top" class="no-select">
				<img src="{{ url_for('static', filename='images/covers/null.jpg') }}" id="Song-info-cover" alt="Cover">
				<div id="Song-info-main">
					<div id="Song-info-title" class="Song-info-text">
						<div id='Song-info-title-scroll'></div>
					</div>
					<div id="Song-info-artist" class="Song-info-text">
						<div id='Song-info-artist-scroll'></div>
					</div>
					<div id="Song-info-album" class="Song-info-text">
						<div id='Song-info-album-scroll'></div>
					</div>
					<div id="Song-info-num" class="Song-info-text">
						<span>Loading...</span>
					</div>
					<div id="Song-info-year" class="Song-info-text">
						<span>Loading...</span>
					</div>
					<div id="Song-info-publisher" class="Song-info-text">
						<span>Loading...</span>
					</div>
					<div id="Song-info-genre" class="Song-info-text">
						<div id='Song-info-artist-scroll'></div>
					</div>
				</div>
			</div>
			<div id="copy-content">
				<div id="copy-info">
					<span>Copy the song information</span>
					<svg id="song-info-copy" class="no-select no-drag" alt="Copy" style="width: 30px; height: 30px; margin: 1em;" viewBox="0 0 24 24">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 16.5L19.5 4.5L18.75 3.75H9L8.25 4.5L8.25 7.5L5.25 7.5L4.5 8.25V20.25L5.25 21H15L15.75 20.25V17.25H18.75L19.5 16.5ZM15.75 15.75L15.75 8.25L15 7.5L9.75 7.5V5.25L18 5.25V15.75H15.75ZM6 9L14.25 9L14.25 19.5L6 19.5L6 9Z" fill="currentColor"/>
					</svg>
				</div>
				<div id="song-link-container">
					<a id="song-link">Link to song</a>
					<button id="song-link-copy">copy</button>
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
	</body>
	<div class="no-select" id="player-container">
		<div id="player-song-info">
			<img src="{{ url_for('static', filename='images/covers/null.jpg') }}" id="player-cover" class="no-drag" alt="player cover">
			<div id="player-song-info-text">
				<div id="player-song-title" class="player-song-info-text">
					<span>Title</span>
				</div>
				<div id="player-song-artist" class="player-song-info-text">
					<span>Artist</span>
				</div>
				<div id="player-song-album" class="player-song-info-text">
					<span>Album</span>
				</div>
			</div>
		</div>
		<div id="player-center">
			<div id="player-center-up">
				<span class="player-time" id="player-time-current">0:00</span>
				<div id="controls-container">
					<div class="player-controls" id="player-button-random" alt="Random">
						<svg class="svg-anim" id="randomSvg" viewBox="-4 0 30 9" fill="currentColor" style="max-width: 300px; margin-top:50">
							<defs>
								<path id="randomArrow" d="M12.3536 1.1464C12.1583.9512 11.8417.9512 11.6464 1.1464 11.4512 1.3417 11.4512 1.6583 11.6464 1.8536L12.7929 3H12C11 3 11 4 12 4H12.7929L11.6464 5.1464C11.4512 5.3417 11.4512 5.6583 11.6464 5.8536 11.8417 6.0488 12.1583 6.0488 12.3536 5.8536L14.3536 3.8535C14.5488 3.6583 14.5488 3.3417 14.3536 3.1465L12.3536 1.1464Z" transform="translate(-12, -3.5)" />
							</defs>
							<path id="randomMotionPath" d="M15 0C17 0 20 2 20 5 20 8 17 10 15 10 12 10 10 7 10 5 10 2 7 0 5 0 2 0 0 3 0 5 0 8 3 10 5 10 8 10 10 8 10 5 10 2 13 0 15 0 17 0 20 2 20 5" stroke="currentColor" stroke-width="2" fill="none" stroke-dasharray="57 7" stroke-dashoffset="-7" stroke-linecap="round">
								<animate attributeName="stroke-dashoffset" from="-7" to="-71" dur="1s" begin="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1" keyTimes="0;1" />
							</path>
							<g>
								<use href="#randomArrow" id="randomArrowElement" transform="translate(15,0) scale(1.6)" />
								<animateMotion id="svgArrow" dur="1s" begin="indefinite" rotate="auto" keyTimes="0;1" keyPoints="0;0.889" calcMode="spline" keySplines="0.5 0 0.5 1" fill="freeze">
									<mpath href="#randomMotionPath" />
								</animateMotion>
							</g>
						</svg>
					</div>
					<svg alt="Back" class="player-controls svg-anim" id="player-button-back" viewBox="0 0 33 20" fill="currentColor" style="transform: rotate(180deg);">
						<path d="M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18">
							<animate attributeName="d" dur="0.2s" fill="freeze" begin="indefinite"
								values="
									M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18;
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18;
									M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18"
								keyTimes="0; 0.5; 1" />
						</path>
						<path d="M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18">
							<animate attributeName="d" dur="0.2s" fill="freeze" begin="indefinite"
								values="
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18;
									M18 18 18 2C18 1 19 0 20 0 21 0 22 0 23 1L32 8C34 10 34 10 32 12L23 19C22 20 21 20 20 20 19 20 18 19 18 18;
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18"
								keyTimes="0; 0.5; 1" />
						</path>
					</svg>
					<svg viewBox="0 0 40 50" xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="playButtonSvg" class="player-controls">
						<path d="M0 42C0 42 0 46 4 46 6 46 8.01 45.16 10 44S10 44 19 38.857v-30.429c-9-6.428 0 0-9-6.428C7.748.58 6 0 4 0s-4 1-4 4v38">
							<animate id="playAnimPath" attributeName="d" dur="0.25s" fill="freeze" begin="indefinite"
								from="M0 42C0 42 0 46 4 46 6 46 8.01 45.16 10 44S10 44 19 38.857v-30.429c-9-6.428 0 0-9-6.428C7.748.58 6 0 4 0s-4 1-4 4v38"
								to="M0 42S0 46 4 46C6 46 8 46 10 46S14 45 14 42v-38c0-4-4-4-4-4C8 0 6 0 4 0s-4 1-4 4v38"/>
						</path>
						<path d="M17 40 17 7C17 7 17 7 17 7L17 7C17 7 17 7 17 7L38 22C40 24 40 26 38 28L17 40C17 40 17 40 17 40L17 40C17 40 17 40 17 40">
							<animate id="playAnimPath2" attributeName="d" dur="0.25s" fill="freeze" begin="indefinite"
								from="M17 40 17 7C17 7 17 7 17 7L17 7C17 7 17 7 17 7L38 22C40 24 40 26 38 28L17 40C17 40 17 40 17 40L17 40C17 40 17 40 17 40"
								to="M26 42 26 4C26 1 28 0 30 0L36 0C38 0 40 1 40 4L40 22C40 24 40 26 40 28L40 42C40 44 38 46 36 46L30 46C28 46 26 44 26 42"/>
						</path>
					</svg>
					<svg alt="Next" class="player-controls  svg-anim" id="player-button-next" viewBox="0 0 33 20" fill="currentColor">
						<path d="M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18">
							<animate attributeName="d" dur="0.2s" fill="freeze" begin="indefinite"
								values="
									M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18;
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18;
									M0 18 0 2C0 1 1 0 2 0 3 0 4 0 5 1L14 8C16 10 16 10 14 12L5 19C4 20 3 20 2 20 1 20 0 19 0 18"
								keyTimes="0; 0.5; 1" />
						</path>
						<path d="M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18">
							<animate attributeName="d" dur="0.2s" fill="freeze" begin="indefinite"
								values="
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18;
									M18 18 18 2C18 1 19 0 20 0 21 0 22 0 23 1L32 8C34 10 34 10 32 12L23 19C22 20 21 20 20 20 19 20 18 19 18 18;
									M13 18 13 2C13 1 14 0 15 0 16 0 17 0 18 1L27 8C29 10 29 10 27 12L18 19C17 20 16 20 15 20 14 20 13 19 13 18"
								keyTimes="0; 0.5; 1" />
						</path>
					</svg>
					<div class="player-controls" id="player-button-repeat" alt="Repeat"></div>
						<svg class="svg-anim" id="repeatSvg" viewBox="-4 0 28 10" fill="currentColor">
							<defs>
								<path id="repeatArrow" d="M12.3536 1.1464C12.1583.9512 11.8417.9512 11.6464 1.1464 11.4512 1.3417 11.4512 1.6583 11.6464 1.8536L12.7929 3H12C11 3 11 4 12 4H12.7929L11.6464 5.1464C11.4512 5.3417 11.4512 5.6583 11.6464 5.8536 11.8417 6.0488 12.1583 6.0488 12.3536 5.8536L14.3536 3.8535C14.5488 3.6583 14.5488 3.3417 14.3536 3.1465L12.3536 1.1464Z" transform="translate(-12, -3.5)" />
							</defs>
							<path id="repeatMotionPath" d="M15 10C18 10 20 8 20 5 20 2 18 0 15 0L5 0C2 0 0 2 0 6 0 8 2 10 5 10L15 10C18 10 20 8 20 5 20 2 18 0 15 0L5 0" stroke="currentColor" stroke-width="2" fill="none" stroke-dasharray="18.8 33.2" stroke-dashoffset="-7" stroke-linecap="round">
								<animate attributeName="stroke-dashoffset" begin="indefinite" from="45" to="18" dur="0.5s" calcMode="spline" keySplines="0.5 0 0.5 1" keyTimes="0;1" />
							</path>
							<g>
								<use href="#repeatArrow" id="repeatArrowElement" transform="scale(-1.6) translate(-4)" />
								<animateMotion id="svgArrow" dur="0.5s" begin="indefinite" keyTimes="0;1" keyPoints="0.3;0.65" calcMode="spline" keySplines="0.5 0 0.5 1" fill="freeze" rotate="auto">
									<mpath href="#repeatMotionPath" />
								</animateMotion>
							</g>
							<path id="repeatMotionPath2" d="M15 10C18 10 20 8 20 5 20 2 18 0 15 0L5 0C2 0 0 2 0 6 0 8 2 10 5 10L15 10C18 10 20 8 20 5 20 2 18 0 15 0L5 0" stroke="currentColor" stroke-width="2" fill="none" stroke-dasharray="18.8 33.2" stroke-dashoffset="17.7" stroke-linecap="round">
								<animate attributeName="stroke-dashoffset" begin="indefinite" from="18" to="-7" dur="0.5s" calcMode="spline" keySplines="0.5 0 0.5 1" keyTimes="0;1" />
							</path>
							<g>
								<use href="#repeatArrow" id="repeatArrowElement2" transform="scale(1.6) translate(9, 6.3)" />
								<animateMotion id="svgArrow2" dur="0.5s" begin="indefinite" keyTimes="0;1" keyPoints="0.651;0.965" calcMode="spline" keySplines="0.5 0 0.5 1" fill="freeze" rotate="auto">
									<mpath href="#repeatMotionPath" />
								</animateMotion>
							</g>
						</svg>
					</div>
					<span class="player-time" id="player-time-total">0:00</span>
				</div>
			<div id="player-progress-bar-container">
				<label for="player-progress-bar" class="sr-only">Progress bar</label>
				<input type="range" min="0" max="100" value="0" class="player-slider" id="player-progress-bar">
			</div>
		</div>
		<div id="player-extra">
			<svg viewBox="0 0 42 28" xmlns="http://www.w3.org/2000/svg" id="volume-svg" fill="currentColor">
				<path d="M0 17 0 11C0 9 1 9 2 9L10 9 17 1C18 0 19 0 20 1L20 27C19 28 18 28 17 27L10 19 2 19C1 19 0 19 0 17" />
				<path d="M23 11C25 12 25 16 23 17 23 18 24 19 25 19 28 17 28 11 25 9 24 9 23 10 23 11" id="volumePath1">
					<animate attributeName="d" values="
						M23 11C25 12 25 16 23 17 23 18 24 19 25 19 28 17 28 11 25 9 24 9 23 10 23 11;
						M23 11C24 12 26 13 23 14 23 16 24 17 25 18 28 16 28 12 25 10 24 8 23 9 23 11"
						dur="0.3s" begin="indefinite" fill="freeze" id="volumeAnimate1"/>
				</path>
				<path d="M27 7C31 9 31 19 27 21 27 22 28 23 29 23 34 20 34 8 29 5 28 5 27 6 27 7" id="volumePath2">
					<animate attributeName="d" values="M27 7C31 9 31 19 27 21 27 22 28 23 29 23 34 20 34 8 29 5 28 5 27 6 27 7;
						M27 7C28 8 30 10 27 12 27 14 28 15 29 16 33 14 33 9 29 7 28 6 27 6 27 7"
						dur="0.3s" begin="indefinite" fill="freeze"  id="volumeAnimate2"/>
				</path>
				<path d="M31 3C37 6 37 22 31 25 31 26 32 27 33 27 40 23 40 5 33 1 32 0 30 2 31 3" id="volumePath3">
					<animate attributeName="d" values="
						M31 3C37 6 37 22 31 25 31 26 32 27 33 27 40 23 40 5 33 1 32 0 30 2 31 3;
						M31 3C32 4 34 6 31 8 31 9 32 10 33 11 37 9 37 5 33 3 32 2 31 3 31 3"
						dur="0.3s" begin="indefinite" fill="freeze"  id="volumeAnimate3"/>
				</path>
			</svg>
			<div id="volume-container">
				<label for="player-volume-bar" class="sr-only">Volume bar</label>
				<input type="range" min="0" max="100" value="100" class="player-slider" id="player-volume-bar">
			</div>
		</div>
	</div>
	<div id="consent-banner" style="display: none;">
		<h3>Data Consent & Privacy Policy</h3>
		<div class="section">
			<h4>1. Umami Data Collection</h4>
			<p>We use Umami, a privacy-focused analytics tool, to collect anonymous statistics about how you use our website. Umami is fully compliant with GDPR, does not use cookies, and does not track personal data. All collected data is self-hosted on our own server, ensuring that no third-party has access to it. This data helps us improve the user experience and the content we offer. The information collected includes aggregated metrics such as page views, referrers, and device types, but does not identify individual users.</p>
			{% if umami_stats_url %}<p>You can view our statistics on <a href="{{ umami_stats_url }}" class="no-dynamic-load" target="_blank">Umami</a>.</p>{% endif %}
		</div>		
		<div class="section">
			<h4>2. Cloudflare Proxy</h4>
			<p>We use Cloudflare to help protect and speed up our website. As part of this, Cloudflare collects some basic information, such as your IP address, browser type, and device details, which is necessary for security and performance optimization. Unfortunately, Cloudflare cookies are required for these features and cannot be disabled.</p>
		</div>
		<div class="section">
			<h4>3. Account Data</h4>
			<p>If you create an account, we collect your email address to allow you to reset your password and to communicate with you. We do not share your email address with anyone. We handle email communication through our own mail server, ensuring your privacy.</p>
			<div class="section">
				<h4>3.1 Music Data Collection</h5>
				<p>If you create an account, we collect the music you listen to provide you with statistics. If you don't have an account, we do not collect any listening data. The statistics are anonymized and can be used publicly for global statistics.</p>
			</div>
		</div>
		<div class="section">
			<h4>4. Cookies Used</h4>
			<table>
				<tr>
					<th>Cookie Name</th>
					<th>Purpose</th>
				</tr>
				<tr>
					<td><code>cf_clearance</code></td>
					<td>Set by Cloudflare to verify security challenges.</td>
				</tr>
				<tr>
					<td><code>session</code></td>
					<td>Stores your login session to keep you authenticated.</td>
				</tr>
				<tr>
					<td><code>session_token</code></td>
					<td>Used for secure authentication of your session.</td>
				</tr>
				<tr>
					<td><code>data_consent</code></td>
					<td>Indicates whether Umami tracking is allowed or not.</td>
				</tr>
			</table>
		</div>		
		<div class="section">
			<h4>5. Contact for Data Inquiries</h4>
			<p>If you have any concerns or requests regarding your data and privacy, you can contact us at <a href="mailto:privacy@ostjourney.xyz">privacy@ostjourney.xyz</a>.</p>
		</div>	
		<div class="umami-button">
			<button id="accept-btn">Accept Umami Data Collection</button>
			<button id="decline-btn">Decline</button>
		</div>	
	</div>
	<script>
		window.isFullPageLoaded = true;
		window.UMAMI_SCRIPT_URL = "{{ umami_script_url }}";
		window.UMAMI_WEBSITE_ID = "{{ umami_website_id }}";
	</script>
	<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/player.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/song-info.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/dyna_loading.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/consent.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base/nav.js') }}"></script>
</html>
