<nav>
	<div id="user-menu">
		{% if session.get('user') %}
			<a href="{{ url_for('user.profile') }}" class="user-btn">Profile</a>
			<a href="{{ url_for('user.settings') }}" class="user-btn">Settings</a>
			<a href="{{ url_for('session.logout') }}" class="user-btn">Logout</a>
		{% else %}
		<a href="{{ url_for('session.login') }}" class="user-btn">Login</a>
		<a href="{{ url_for('session.register') }}" class="user-btn">Register</a>
		{% endif %}
	</div>
	<div id="search-container">
		<div id="search-bar-container">
			<input type="search" id="search-bar" placeholder="Search for a song..." />
			<a id="search-link">
				<svg id="search-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M4.47487 4.4749C2.32698 6.62279 2.32698 10.1052 4.47487 12.2531C6.62275 14.401 10.1052 14.401 12.253 12.2531C14.4009 10.1052 14.4009 6.62279 12.253 4.4749C10.1052 2.32702 6.62275 2.32702 4.47487 4.4749ZM10.8388 10.8389C9.47199 12.2057 7.25591 12.2057 5.88908 10.8389C4.52224 9.47203 4.52224 7.25595 5.88908 5.88912C7.25591 4.52228 9.47199 4.52228 10.8388 5.88912C12.2057 7.25595 12.2057 9.47203 10.8388 10.8389Z" fill="currentColor"/>
					<path d="M11.1924 13.3137C10.6066 12.7279 10.6066 11.7782 11.1924 11.1924C11.7782 10.6066 12.7279 10.6066 13.3137 11.1924L16.8492 14.7279C17.435 15.3137 17.435 16.2635 16.8492 16.8492C16.2635 17.435 15.3137 17.435 14.7279 16.8492L11.1924 13.3137Z" fill="currentColor"/>
				</svg>
			</a>
		</div>
		<div id="dropdown-content-search">
			<label for="advanced-search-toggle" id="advanced-search-label">
				<span>Advanced Search</span>
				<input type="checkbox" id="advanced-search-toggle" />
			</label>
			<div id="dropdown-advanced-search">
				<div>
					<input type="search" id="search-title" placeholder="Title" />
					<input type="search" id="search-artist" placeholder="Artist" />
				</div>
				<div>
					<input type="search" id="search-album" placeholder="Album" />
					<div id="search-time">
						<p>Duration: min</p><input id="min-time-search-value" placeholder="seconds">
						<p>max</p><input id="max-time-search-value" placeholder="seconds">
					</div>
				</div>
			</div>
			<div id="search-results" class="no-select">
				<p>No results found</p>
				<!-- Search results will be populated here -->
			</div>
		</div>
	</div>
	<div id="nav-links">
		<div id="theme-switcher">
			<button class="theme-btn" data-theme="catppuccin-latte" style="--c1:rgb(239, 241, 245); --c2:rgb(172, 176, 190); --c3:rgb(108, 111, 133);"></button>
			<button class="theme-btn" data-theme="catppuccin-frappe" style="--c1:rgb(35, 38, 52); --c2:rgb(48, 52, 70); --c3:rgb(165, 173, 206);"></button>
			<button class="theme-btn" data-theme="catppuccin-macchiato" style="--c1:rgb(24, 25, 38); --c2:rgb(36, 39, 58); --c3:rgb(165, 173, 203);"></button>
			<button class="theme-btn" data-theme="catppuccin-mocha" style="--c1:rgb(17, 17, 27); --c2:rgb(30, 30, 46); --c3:rgb(166, 173, 200);"></button>
		</div>		
		<a href="{{ url_for('various.index') }}" class="user-btn">Home</a>
		<a href="{{ url_for('various.stats') }}" class="user-btn">Stats</a>
		<a href="{{ url_for('various.latest') }}" class="user-btn">Latest</a>
	</div>
</nav>