<nav>
	<div id="user-menu">
		{% if session.get('user') %}
			<a href="{{ url_for('user.profile') }}" class="user-btn">Profile</a>
			<a href="{{ url_for('user.settings') }}" class="user-btn">Settings</a>
			<a href="{{ url_for('various.stats') }}" class="user-btn">Stats</a>
			<a href="{{ url_for('session.logout') }}" class="user-btn">Logout</a>
			<a href="{{ url_for('various.latest') }}" class="user-btn">Latest</a>
		{% else %}
			<a href="{{ url_for('session.login') }}" class="user-btn">Login</a>
			<a href="{{ url_for('session.register') }}" class="user-btn">Register</a>
			<a href="{{ url_for('various.stats') }}" class="user-btn">Stats</a>
			<a href="{{ url_for('various.latest') }}" class="user-btn">Latest</a>
		{% endif %}
		<div id="search-container">
			<div id="search-bar-container">
				<input type="search" id="search-bar" placeholder="Search for a song..." />
				<a id="search-link"><img id="search-icon" src="{{ url_for('static', filename='images/various/loop.svg') }}" alt="Search" /></a>
			</div>
			<div id="dropdown-content-search">
				<label for="advanced-search-toggle" id="advanced-search-label">
					<span>Advanced Search</span>
					<input type="checkbox" id="advanced-search-toggle" />
				</label>
				<div id="dropdown-search">
					<div>
						<input type="search" id="search-title" placeholder="Title" />
						<input type="search" id="search-artist" placeholder="Artist" />
						</div>
					<div>
						<input type="search" id="search-album" placeholder="Album" />
						<div id="search-time">
							<p>Duration: min</p><input id="min-time-search-value" placeholder="seconds">
							<p>max</p><input id="max-time-search-value" placeholder="seconds">
						</div>
					</div>
				</div>
				<div id="search-results" class="no-select">
					<p>No results found</p>
					<!-- Search results will be populated here -->
				</div>
			</div>
		</div>
	</div>
</nav>