<h1 id="currentUrl">{{ currentUrl }}</h1>
<div class="header">
	<h1>Profil Utilisateur</h1>
</div>
<div class="profile-info">
	<p><span>Pseudo :</span> {{ username }}</p>
	<p><span>Email :</span> {{ email }}</p>
	<p><span>Date de création :</span> {{ created_at }}</p>
	<p><span>User id :</span> {{ user_id }}</p>
</div>

<div class="total-listened">
	<p><span>Number of tracks listened :</span> {{ total_listened }}</p>
</div>
<div class="total-duration">
	<p id="profile-duration">
		<span>Total listen time :</span>
		<span id="duration-value"></span>
		<span id="profile-total-duration" style="visibility: hidden;">{{ total_duration }}</span>
		<span id="profile-total-hours" style="visibility: hidden;">{{ total_hours }} hours</span>
	</p>
	  
</div>
<center>
	<h3>Activity</h3>
	<div class="activity-container">
		<h1>User Activity Heatmap</h1>

		<div class="year-selector">
			<label for="year">Select Year:</label>
			<select id="year" name="year">
			</select>
		</div>

		<table id="heatmap"></table>
		<div id="heatmap-type">
			<div id="activity-heatmap-type">
				<button class="activity-heatmap-button heatmap-song-active" id="heatmap-song">Songs played</button>
				<button class="activity-heatmap-button" id="heatmap-duration">Listening time</button>
				<button class="activity-heatmap-button" id="heatmap-ratio">Ratio</button>
				<input type="checkbox" id="fixByPercentile">
				<label for="fixByPercentile">Fix using percentil</label>
			</div>
			<div id="heatmap-scale">
				<p>Less&nbsp</p>
				<div id="heatmap-scale1" class="heatmap-scale-div" style="background-color: #161b22;"></div>
				<div id="heatmap-scale2" class="heatmap-scale-div" style="background-color: #0e4429;"></div>
				<div id="heatmap-scale3" class="heatmap-scale-div" style="background-color: #006d32;"></div>
				<div id="heatmap-scale4" class="heatmap-scale-div" style="background-color: #26a641;"></div>
				<div id="heatmap-scale5" class="heatmap-scale-div" style="background-color: #39d353;"></div>
				<p>&nbspMore</p>
			</div>
		</div>
	</div>
</center>

<center>
	<h3>Number of tracks listened per hour</h3>
	<div id="hourlyChartContainer">
		<canvas id="hourlyChart"></canvas>
	</div>
</center>
<div class="listening-history">
	<center><h3>Last music listened :</h3></center>
	<table class="song-tab">
		<thead>
			<tr>
				<th>Song ID</th>
				<th>Title</th>
				<th>Artist</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody id="songs-tbody">
			{% for song in songs_list %}
			<tr>
				<td class="song-tab-col1">
					<a href="/static/images/covers/{{ song.cover if song.cover else 'null' }}.jpg" target="_blank">
						<img src="/static/images/covers/{{ song.cover if song.cover else 'null' }}.jpg" 
							 alt="{{ song.title }}" class="tab-cover">
					</a>
				</td>				
				<td class="song-tab-col2"><a href="/?song={{ song.song_id }}" target="_blank">{{ song.title }}</a></td>
				<td class="song-tab-col3">{{ song.artist }}</td>
				<td class="song-tab-col3">{{ song.duration }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if load_button %}
		<button id="load-more" data-offset="25">Load More</button>
	{% else %}
		<button id="load-more" data-offset="25" style="display: none;">Load More</button>
	{% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
<script src="{{ url_for('static', filename='js/dup_check.js') }}"></script>
