<h1 id="currentUrl">{{ currentUrl }}</h1>
<center>
	<div class="header">
		<h2>Register</h2>
	</div>
	{% if error %}
		<p class="error-msg">{{ error }}</p>
	{% endif %}
	<div id="login-container">
		<form id="login-form" method="POST" action="{{ url_for('register') }}">
			<div class="input-field">
				<label for="username">Username:</label>
				<input 
					type="text" 
					id="username" 
					name="username" 
					required 
					minlength="3" 
					maxlength="20" 
					pattern="^[a-zA-Z0-9_]{3,20}$" 
					title="Username must be between 3 and 20 characters long, and contain only letters, numbers, and underscores."
					value="{{ username if username else '' }}">
			</div>
			<div class="input-field">
				<label for="email">Email:</label>
				<input 
					type="email" 
					id="email" 
					name="email" 
					required
					pattern="([-!#-'*+/-9=?A-Z^-~]+(\.[-!#-'*+/-9=?A-Z^-~]+)*|(&quot;([]!#-[^-~ \t]|(\\[\t -~]))+&quot;))@[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?(\.[0-9A-Za-z]([0-9A-Za-z-]{0,61}[0-9A-Za-z])?)+"
					value="{{ email if email else '' }}">
			</div>
			<div class="input-field">
				<label for="password">Password:</label>
				<input 
					type="password" 
					id="password" 
					name="password" 
					required
					minlength="8" 
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\\|,.<>\/?]).{8,20}"
					title="Password must be at least 8 characters long, contain at least one number, one uppercase letter, one lowercase letter, and at least one special character (e.g., !, @, #, $, etc.).">
			</div>
			<div class="input-field">
				<label for="confirm_password">Confirm Password:</label>
				<input 
					type="password" 
					id="confirm_password" 
					name="confirm_password" 
					required
					minlength="8" 
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\\|,.<>\/?]).{8,20}"
					title="Password must be at least 8 characters long, contain at least one number, one uppercase letter, one lowercase letter, and at least one special character (e.g., !, @, #, $, etc.).">
			</div>
			<a href="{{ url_for('login') }}">Login</a>
			<button type="submit" id="login-btn">Register</button>
		</form>
	</div>
</center>

<script src="{{ url_for('static', filename='js/check_password.js') }}"></script>
<script src="{{ url_for('static', filename='js/dup_check.js') }}"></script>