<h1 id="currentUrl">{{ currentUrl | default('/search') }}</h1>
<center>
	<div class="header">
		<h1>Search results for:</h1>
	</div>
	<p style="width: 50%;">"{{ search }}"</p>
	<p class="error-msg" style="visibility: {{ 'visible' if searchError else 'hidden' }};" id="searchError">{{ searchError }}</p>
	{% if songs %}
		<p>Found <span id="numSongsFound">?</span> song(s), Share: <span id="searchShareLink">{{ currentUrl }}</span></p>
		<table class="song-tab">
			<thead>
				<tr>
					<th>Song ID</th>
					<th>Title</th>
					<th>Artist</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody class="songs-tbody">
			</tbody>
		</table>
	{% else %}
		<p>No results found :(</p>
	{% endif %}
</center>
<span id="search-results-ids" style="display: none;"> {{ songs | default([]) | tojson }}</span>
<script src="{{ url_for('static', filename='js/dup_check.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>